@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --home-body-bg: #f7f0f3;
  --medium-sea-green: #5ab963;
  --hover-2: #b83535;
  --primary-color: #7b466a;
  --secondory-color: rgba(0, 102, 255, 0.04);
  --hover: rgb(254, 235, 252);
  --white-smoke: #f2f4f7;
  --brand-color: #ef3f3e;
  --text-color: #0c0420;
  --text-color-2: #d391b0;
  --line-color: #9f6496;

  --bg-color: #c2d9e1;
  --text-colors: #0c0420;
  /* opacity: 0.2; */

  --bg-color1: #d5fbef;
  /* opacity: 0.4; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 40px;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-BoldItalic.woff2") format("woff2"),
    url("Poppins-BoldItalic.woff") format("woff"),
    url("Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraBold.woff2") format("woff2"),
    url("Poppins-ExtraBold.woff") format("woff"),
    url("Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Bold.woff2") format("woff2"),
    url("Poppins-Bold.woff") format("woff"),
    url("Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraBoldItalic.woff2") format("woff2"),
    url("Poppins-ExtraBoldItalic.woff") format("woff"),
    url("Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-BlackItalic.woff2") format("woff2"),
    url("Poppins-BlackItalic.woff") format("woff"),
    url("Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Black.woff2") format("woff2"),
    url("Poppins-Black.woff") format("woff"),
    url("Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Italic.woff2") format("woff2"),
    url("Poppins-Italic.woff") format("woff"),
    url("Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraLightItalic.woff2") format("woff2"),
    url("Poppins-ExtraLightItalic.woff") format("woff"),
    url("Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-ExtraLight.woff2") format("woff2"),
    url("Poppins-ExtraLight.woff") format("woff"),
    url("Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Light.woff2") format("woff2"),
    url("Poppins-Light.woff") format("woff"),
    url("Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-MediumItalic.woff2") format("woff2"),
    url("Poppins-MediumItalic.woff") format("woff"),
    url("Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Thin.woff2") format("woff2"),
    url("Poppins-Thin.woff") format("woff"),
    url("Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.woff2") format("woff2"),
    url("Poppins-SemiBold.woff") format("woff"),
    url("Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.woff2") format("woff2"),
    url("Poppins-Regular.woff") format("woff"),
    url("Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-LightItalic.woff2") format("woff2"),
    url("Poppins-LightItalic.woff") format("woff"),
    url("Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-ThinItalic.woff2") format("woff2"),
    url("Poppins-ThinItalic.woff") format("woff"),
    url("Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.woff2") format("woff2"),
    url("Poppins-Medium.woff") format("woff"),
    url("Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBoldItalic.woff2") format("woff2"),
    url("Poppins-SemiBoldItalic.woff") format("woff"),
    url("Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

body {
  color: var(--secondory-color);
  background-color: var(--home-body-bg) !important;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  line-height: 20px;
  /* overflow-x: hidden; */
}
a {
  color: var(--text-color-2) !important;
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  background-image: url("https://futuredesks.in/wp-content/uploads/2022/12/gradient_bg01-1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0.1;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.row > * {
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-top: 30px !important;
  margin-bottom: 0px !important;
}

.container {
  width: 100%;
  /* max-width: 89.125rem !important; */
  padding: 0 15px !important;
  margin: 0 auto;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl,
.padding-rl-30 {
  padding-right: 30px;
}

.logoBrans {
  transform: none !important;
  translate: none !important;
  rotate: none !important;
  scale: none !important;
}

.icon-img-20 {
  width: 20px;
}

.icon-img-30 {
  width: 30px;
}

.icon-img-40 {
  width: 40px;
}

.icon-img-50 {
  width: 50px;
}

.icon-img-60 {
  width: 60px;
}

.icon-img-70 {
  width: 70px;
}

.icon-img-80 {
  width: 80px;
}

.icon-img-90 {
  width: 90px;
}

.icon-img-100 {
  width: 80px;
  padding: 12px 0;
}

.icon-img-120 {
  width: 120px;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

/* ================================================================================
============================= Loader Page ======================================
================================================================================ */

.loader-wrap {
  background: linear-gradient(
    var(--secondory-color),
    var(--hover) 33% 68%,
    var(--secondory-color)
  );
  top: 0;
  left: 0;
}
.loader-wrap {
  height: 100vh;
  overflow: hidden;
}

.loader-wrap {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 99999999999999;
}

.loader-wrap svg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 110vh;
  fill: var(--secondory-color);
}

.loader-wrap .loader-wrap-heading .load-text {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 15px;
  text-transform: uppercase;
  z-index: 20;
}
.loader-wrap .loader-wrap-heading .load-text {
  font-size: 18px;
  letter-spacing: 15px;
}

.load-text span {
  -webkit-animation: 1s infinite alternate loading;
  animation: 1s infinite alternate loading;
  color: var(--brand-color);
}

.load-text span:first-child {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.load-text span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.load-text span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.load-text span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.load-text span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.load-text span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.load-text span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* ================================================================================
==================================== Button  ======================================
================================================================================ */
.main-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cta-floting {
  z-index: 1200;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  inset: auto 0% 3%;
}

.outer-cta {
  -webkit-backdrop-filter: blur(28px);
  backdrop-filter: blur(28px);
  background-color: #3f1e1d14;
  border: 1px solid #d7cccc;
  border-radius: 1rem;
  padding: 0.75rem;
}

.wrapper-cta {
  z-index: 800;
  background-color: #fff;
  border-radius: 0.5rem;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.375rem;
  display: flex;
  position: relative;
}

.wrappper {
  grid-column-gap: 0.875rem;
  grid-row-gap: 0.875rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.founde-image {
  border-radius: 3.125rem;
  max-width: 2.875rem;
  overflow: hidden;
}

.bodytext-24 {
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
}

.home-hero-button {
  text-shadow: 0 0.5px 0.5px #4d010080;
  background-color: #f04f4b;
  background-image: linear-gradient(#ffffff3d, #fff0 33% 68%, #ffffff3d);
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.375rem 2rem;
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  line-height: 100%;
  transition: all 0.35s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  box-shadow: 0 0 0 6px #a5110e33, inset 0 1.5px #fffc, 0 0 0 2px #94302e;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* ================================================================================
==================================== Nav Bar ======================================
================================================================================ */
/* .headerLogos {
  transform: translate(-25px, 0);
} */

.navbar {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid transparent;
  /* z-index: 999; */
}

.icon-img-100 {
  width: 80px;
  padding: 12px 0;
}

.wrapper-deco--left {
  flex-flow: column;
  flex: none;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  width: 0.9375rem;
  padding: 0.4375rem 3px 0.4375rem 9px;
  display: flex;
}

.wrapper-deco--left.deco-top {
  padding-top: 0;
}

.verticale-deco-line {
  z-index: 6;
  background-color: #d7cccc;
  border-radius: 31.25rem;
  flex-flow: column;
  flex: 1;
  justify-content: space-between;
  align-self: center;
  align-items: stretch;
  width: 0.125rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 2px 5px #fff6, inset 0 2px 5px #0003;
}

.lottie-animation {
  object-fit: cover;
  height: 100%;
}

.lottie-animation-4-copy {
  object-fit: contain;
  flex: none;
  width: 3px;
  height: 100%;
}

.nav-wrapper {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  display: flex;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.image-4 {
  height: 2.5rem;
}

.image-04 {
  height: 1.8rem;
}

a {
  background-color: #0000;
}

.nav-button {
  z-index: 3;
  color: #1f2e42;
  background-color: #fff;
  border: 1px solid #3f1e1d4d;
  border-radius: 1rem;
  padding: 1.375rem 2rem;
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 100%;
  position: relative;
  box-shadow: 0 0 #3f1e1d1f, 0 0 0 1.5px #1f2e4214, 0 1px 1px #1f2e420a,
    0 0.1875rem 0.1875px #1f2e4208, 0 0.375rem 0.25rem #1f2e4205,
    0 0.6875rem 0.25rem #1f2e4203;
}

.nav-button.hide {
  display: none;
}

.wrapper-deco-right.deco-top {
  padding-top: 0;
}

.wrapper-deco-right {
  z-index: 2;
  flex-flow: column;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 0.9375rem;
  padding: 0.4375rem 10px 0.4375rem 3px;
  display: flex;
  position: relative;
}

svg:not(:root) {
  overflow: hidden;
}

.hamenu,
.loader-wrap {
  height: 100vh;
  overflow: hidden;
}

.hamenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  z-index: 9999;
  backdrop-filter: blur(150px);
  transition: left 0.3s ease-in-out; /* Smooth transition */
}
.hamenu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://futuredesks.in/wp-content/uploads/2022/12/gradient_bg01-1.png");
  background-position: center;
  opacity: 0.08;
  z-index: -10;
}

.icon-img-100 {
  width: 100%;
  /* padding: 12px 0; */
}
.hamenu .logo {
  position: absolute;
  top: 15px;
  left: 10px;
}
/* .headerLogo {
  transform: translate(-90px, 0);
} */

.hamenu .close-menu {
  position: absolute;
  top: 60px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 1px solid var(--line-color);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 4;
}
.hamenu .close-menu svg {
  width: 50px;
  height: 50px;
}

.hamenu .menu-text {
  position: relative;
  height: 100%;
}
.hamenu .menu-text:after {
  content: "";
  width: 1px;
  height: 200vh;
  background: var(--line-color);
  position: absolute;
  right: -30px;
  bottom: -75vh;
  transition: 1s;
}

.hamenu .menu-text .text {
  position: absolute;
  right: 25%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0;
  transition: 0.4s;
}

.hamenu .menu-text .text h2 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 10vw;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  opacity: 0.09;
  color: var(--brand-color);
}

.hamenu .menu-links {
  color: #fff;
  height: 100%;
  padding-top: 140px;
  padding-bottom: 40px;

  position: relative;
}

.hamenu .menu-links:after {
  content: "";
  width: 1px;
  height: 200vh;
  background: var(--line-color);
  position: absolute;
  right: 0px;
  bottom: -75vh;
  transition: 1s;
}
.hamenu .menu-links::-webkit-scrollbar {
  width: 5px;
}

.hamenu .menu-links::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.hamenu .menu-links::-webkit-scrollbar-thumb {
  background: var(--line-color);
  border-radius: 5px;
}

.rest {
  padding: 0 !important;
  margin: 0 !important;
}
.hamenu .menu-links .main-menu {
  position: relative;
  z-index: 2;
}
.hamenu .menu-links .main-menu > li,
.services-boxs .itemBox h5,
.services-boxs .itemBox p {
  transition: 0.5s;
}
.bg-img,
.o-hidden {
  overflow: hidden;
}
.cursor-pointer {
  cursor: pointer;
}
.hamenu .menu-links .main-menu > li .link {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  padding: 20px 30px;
  border-top: 1px solid var(--line-color);
  width: 100%;
  position: relative;
  display: block;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.7s;
}

.horizontal-link li,
.inline,
a,
span {
  display: inline-block;
}

.hamenu .menu-links .main-menu > li .link .fill-text {
  position: relative;
  color: var(--text-colors);
}
.hamenu .menu-links .main-menu > li .link .fill-text:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--text-colors);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
}

.hamenu .cont-info:after {
  content: "";
  width: 300%;
  height: 200vh;
  position: absolute;
  left: -30px;
  top: -75vh;
  /* background: #1a1a1a; */
  z-index: -1;
}
.hamenu .cont-info {
  padding-top: 140px;
  padding-left: 15px;
  position: relative;
  z-index: 3;
}

.sub-title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--text-colors);
}

p {
  line-height: 1.5;
  font-size: 18px;
  color: var(--text-color-2);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

p {
  margin: 10px;
}
.hamenu .contact {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}
/* ================================================================================
============================= Divider ======================================
================================================================================ */

.divider-main {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.divider-line-left {
  background-color: #d7cccc;
  border-radius: 3.125rem;
  flex: 1;
  height: 0.125rem;
  overflow: hidden;
  box-shadow: 0 -0.4px 0.3px #fff6, inset 0 0.4px 0.3px #0006;
}

.divider-line-left.left-5 {
  justify-content: flex-end;
  align-items: stretch;
  height: 0.125rem;
  display: flex;
}

.lottie-animation-3-copy {
  align-items: center;
  width: 100%;
  height: 2px;
  display: flex;
  transform: rotate(180deg);
}

.divider {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-width: 89.125rem; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 7px;
  padding-right: 7px;
  display: flex;
}

.round {
  background-color: #d7cccc;
  border-radius: 3.125rem;
  flex-flow: row;
  flex: none;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 0.4375rem;
  height: 0.4375rem;
  display: flex;
  position: relative;
  box-shadow: inset 0 -0.4px 0.3px #fff6, inset 0 0.4px 0.3px #0006;
}

.div-block-58 {
  flex-flow: row;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 7px;
  height: 7px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.lottie-animation-57 {
  z-index: 100;
  opacity: 0.5;
  flex-flow: row;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 0.75rem;
  height: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.divider-line {
  background-color: #d7cccc;
  border-radius: 3.125rem;
  flex: 1;
  width: 100%;
  height: 0.125rem;
  display: flex;
  box-shadow: 0 -0.4px 0.3px #fff6, inset 0 0.4px 0.3px #0006;
}

.lottie-animation-2 {
  width: 50%;
  height: 1px;
  display: flex;
}

.lottie-animation-2-flip {
  width: 50%;
  height: 1px;
  display: flex;
  transform: rotate(180deg);
}

.divider-line-right {
  background-color: #d7cccc;
  border-radius: 3.125rem;
  flex-flow: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 2px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 -0.4px 0.3px #fff6, inset 0 0.4px 0.3px #0006;
}

.lottie-animation-3 {
  align-items: center;
  width: 100%;
  height: 2px;
  display: flex;
}

.button {
  padding: 12px 26px;
  border: 0;
  font-size: 16px;
  transition: all 150ms ease-in-out;
  border-radius: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #0c0420;
  background-image: radial-gradient(
    50% 115% at 50% -5%,
    rgba(255, 255, 255, 0.11) 0%,
    transparent 100%
  );
  box-shadow: inset 0 0px 10px 0px rgba(255, 255, 255, 0.14),
    inset 0px 5px 10px 0px rgba(255, 255, 255, 0.11),
    inset 0px 2px 5px 0px rgba(255, 255, 255, 0.4),
    inset 0px 3px 20px 0px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background-color: #5a3c3c;
}

.button:active {
  transform: scale(0.95);
}

/* ================================================================================
============================= Banner Section  ======================================
================================================================================ */

h1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 64.75rem;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  line-height: 120%;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 2rem;
  }
}

.tag {
  grid-column-gap: 0.375rem;
  grid-row-gap: 0.375rem;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  display: flex;
  box-shadow: 0 0 0 1px #d7cccc, 0 2px 5px #0003, 0 1px 1px #2c405e0a,
    0 2px 4px #2c405e14, 0 0 0 4px #d7cccc99;
}
.tag-text {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

/* ================================================================================
============================= Responsive ======================================
================================================================================ */

/* @media (min-width: 768px) {
  .col-md-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-6 {
      flex: 0 0 auto;
      width: 50%;
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}
  .col-lg-2 {
    flex: 0 0 auto !important;
    width: 16.66666667% !important;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
} */

@media screen and (max-width: 1024px) {
  /* .headerLogos {
    transform: translate(-10px);
  } */
  /* .headerLogo {
    transform: translate(-80px);
  } */

  .hamenu .logo {
    top: 25px;
    left: 0px;
  }
  .image-4 {
    height: 2.2rem;
    z-index: 10;
  }
}

@media screen and (max-width: 992px) {
  .hamenu .cont-info,
  .hamenu .menu-text,
  .md-hide,
  .modern-footer .bord-left:after,
  .navbar .search-form,
  .portfolio-tab .glry-img {
    display: none;
  }
  .hamenu .menu-links {
    height: calc(100vh - 40px);
  }
  .hamenu .close-menu {
    top: 40px;
    right: 30px;
  }
}

@media screen and (max-width: 768px) {
  /* .headerLogos {
    transform: translate(-10px);
  } */
  /* .headerLogo {
    transform: translate(-80px);
  } */
  .loader-wrap .loader-wrap-heading .load-text {
    font-size: 14px;
  }
  .hamenu .logo {
    top: 25px;
    left: 10px;
  }
  .hamenu .close-menu {
    top: 40px;
    right: 30px;
  }
  .hamenu .menu-links .main-menu > li .link,
  h3 {
    font-size: 30px;
  }

  .home-hero {
    height: 90vh;
  }
}
